# Python
__pycache__/
*.py[cod]
*.egg-info/
/dist/
/build/
*.spec

# Virtual environments
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp

# OS
Thumbs.db
Desktop.ini
.DS_Store

# App config
# ~/.md-reader/ is in user home, not in repo

# PyInstaller
*.exe
